[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v7
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/summivox/arduino-esp32
	branch = idf-release/v3.3
